body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

main{
    display: flex;
    justify-content: center;
    margin-top: 65px;
}

.container1{
    height: 500px;
    width: 450px;
    border-radius: 25px;
    background-color: white;
}

h2{
    padding-left: 145px;
    padding-top: 25px;
}

.box1{
    display: flex;
    width: 380px;
    height: 45px;
    margin-left: 35px;
    border-radius: 8px;
    border-style: solid;
    border-color:rgb(126, 185, 252);
}

.box1 input[type="text"]{
    width: 310px;
    height: 40px;
    margin: 2px;
    padding-left: 6px;
    font-size: 16px;
    border-style: none;
}

#add-button{
    width: 55px;
    height: 35px;
    border: none;
    border-radius: 5px;
    margin: 5px 0px 5px 1px;
    font-size: 16px;
    color: white;
    background-color:rgb(41, 134, 239);
}

#add-button:hover{
    background-color:rgb(26, 109, 203);
}

.text-list{
    margin-top: 25px;
    margin-left: 25px;
}

li{
    margin-bottom: 25px;
    padding-left: 8px;
    font-size: 18px;
    /* list-style-image: url("./images/radioButton.png"); */
}